<link rel="stylesheet" type="text/css" href="node_modules/angular-tree-control/css/tree-control.css">
<!-- build:css(.tmp) components/robot-components/robot-tree-view.style.css -->
<link rel="stylesheet" type="text/css" href="components/robot-components/robot-tree-view.style.css">
<!-- endbuild -->

<div class="robot-tree-wrapper">
  <treecontrol class="tree-light" tree-model="treeData" options="treeOptions" selected-node="selected"
    expanded-nodes="expandedNodes" filter-expression="filterThreeJSTree" on-selection="onNodeSelection(node, selected)">
    {{node.name}}
  </treecontrol>
</div>