<!-- build:css(.tmp) components/tip-tooltip/tip-tooltip.style.css -->
<link
  rel="stylesheet"
  href="components/tip-tooltip/tip-tooltip.style.css"
/>
<!-- endbuild -->

<div
  class="tip-tooltip-cluster"
  ng-if="vm.tipTooltipService.ready"
  ng-show="vm.tipTooltipService.hidden === false"
>
  <div
    class="tip-tooltip-wrapper"
    ng-repeat="tip in tipClusters[clusterIdentifier].tips"
  >
    <div
      class="tip-tooltip"
      ng-show="vm.tipTooltipService.displayTip(tip)"
    >

      <div class="tip-tooltip-main">
        <div class="tip-tooltip-header">
          <div class="tip-tooltip-card-selection-tools">
              <div
              ng-if="tip.tipList"
              ng-disable="tip.tipListPos===0"
              ng-click="vm.showPreviousCard(tip)"
              ng-class="{'tip-tooltip-button':true,'tip-tooltip-button-disabled':tip.tipListPos===0}"
            >
              <i class="card-control-button fa fa-chevron-left"></i> previous
            </div>

            <div
              ng-if="tip.tipList"
              ng-disable="tip.tipListPos===tip.tipList.length-1"
              ng-click="vm.showNextCard(tip)"
              ng-class="{'tip-tooltip-button':true,'tip-tooltip-button-disabled':tip.tipListPos===tip.tipList.length-1}"
            >
              <i class="card-control-button fa fa-chevron-right"></i> next
            </div>
          </div>

          <div class="tip-tooltip-close-tools">
            <div
              class="tip-tooltip-hide-button"
              ng-show="vm.displayHideAllTipsButton(tip)" 
              ng-click="vm.hideAllTips()"
            >
              Hide all tips
            </div>

            <div
              ng-click="vm.hideTipAndMarkAsRead(tip)"
              class="tip-tooltip-hide-button"
            >
              <i class="fa fa-times"></i>
            </div>
          </div>
        </div>

        <div class="tip-tooltip-body">
          <img
            ng-repeat="image in tip.tipList[tip.tipListPos].image"
            ng-show="image"
            class="tip-image" ng-src="{{image}}"
            draggable="false"
          />

          <i class="info-icon fa fa-info-circle tip-help-icon"></i>

          <div
            class="tip-description"
            ng-bind-html="vm.tipTooltipService.$sce.trustAsHtml(tip.tipList? tip.tipList[tip.tipListPos].text : tip.text)"
          />
        </div>

        <div class="tip-tooltip-footer">
        </div>
      </div>
    </div>
  </div>
</div>
