<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()">x</button>
    <h4 class="modal-title">Exporting all experiment related files</h4>
</div>
<div class="modal-body">
    <div>
        This experiment is based on custom models, downloading them in separate zips. To use them please upload them from the models library. 
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal()">Got it!</button>
</div>