
<div>
    <!-- Import folder pop-up -->
    <div ng-if="importFolderResponse !== undefined" class="import-popup">
        <div class="alert alert-success" role="alert">
            <p>The experiment folder <b>{{importFolderResponse.zipBaseFolderName}}</b> has been succesfully imported as 
                <b>{{importFolderResponse.destFolderName}}</b>.
            </p>
            </div>
        <div class="text-right">
            <button class="btn btn-success" ng-click="importFolderPopupClick()">Got it!</button>
        </div>
    </div>

    <!-- Import zip pop-up -->
    <div ng-if="importZipResponses !== undefined" class="import-popup">
        <div class="alert alert-success" role="alert">
            <p>{{importZipResponses.numberOfZips}} successfully imported zip files.</p>
        </div>
    <p>The following experiments folders</p> 
    <p><b>{{importZipResponses.zipBaseFolderName}}</b></p> 
    <p>have been successfully imported as:</p>
    <p><b>{{importZipResponses.destFolderName}}.</b>
        <div class="text-right">
            <button class="btn btn-success" ng-click="importZipPopupClick()">Got it!</button>
        </div>
    </div>

    <!-- Scan pop-up -->
    <div ng-if="scanStorageResponse !== undefined" class="import-popup">
    <div class="alert alert-success" role="alert">
        <p>{{scanStorageResponse.addedFoldersNumber}} added folders, {{scanStorageResponse.deletedFoldersNumber}} deleted folders.</p>
    </div>
    <p>Added:</p>
    <p><b>{{scanStorageResponse.addedFolders !== '' ? scanStorageResponse.addedFolders : 'none' }}</b></p> 
    <p>Deleted:</p>
    <p><b>{{scanStorageResponse.deletedFolders !== '' ? scanStorageResponse.deletedFolders : 'none' }}</b>
        <div class="text-right">
            <button class="btn btn-success" ng-click="scanStoragePopupClick()">Got it!</button>
        </div>
    </div>

    <!-- Import buttons -->
    <div class="list-entry-container left-right" ng-show="isPrivateExperiment && private &&!running">
        <input type="file" multiple id="import-experiment-folder-input" webkitdirectory directory>
        <input type="file" multiple id="import-zip-experiment-input" accept="application/zip">
        <div class="list-entry-left" style="position:relative">
            <img class="entity-thumbnail" ng-src="img/esv/import-icon.png" ng-class="{selected: false}" />
        </div>
        <div class="list-entry-middle list-entry-container up-down" id="import-buttons">
            <div ng-show="!running" class="list-entry-buttons list-entry-container center">
                <div class="btn-group" role="group" ng-disabled="isImporting">
                    <button class="btn btn-default" ng-click="importExperimentFolderClick()"> <i class="fa fa-folder"></i> Import folder
                    </button>
                    <button class="btn btn-default" ng-click="importZippedExperimentClick()"> <i class="fa fa-file-archive"></i> Import zip
                    </button>
                    <button ng-if="isLocalUser" class="btn btn-default" ng-click="scanStorageClick()"> <i class="fab fa-audible"></i> Scan Storage
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr class="list-separator" ng-show="isPrivateExperiment && private &&!running">
</div>

