<!-- build:css(.tmp) styles/esv/environment-settings-environment.css -->
<link rel="stylesheet" href="components/environment-settings/environment-settings-environment.style.css" />
<!-- endbuild -->

<h3>Environment Settings</h3>
<p>This is where you add some environment effects such as a sky box.</p>

<hr class="environment-settings-hr" >

<div class="environment-settings-environment-wrapper">

    <div class="environment-settings-option-subblock">

        <div>

            <span> Sky Box </br></br> </span>

            <div class="environment-settings-environment-sky-box-aligner">

                  <div ng-repeat="skyLabel in skyLabelList">

                <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('skyBox')}">
                <input class="environment-settings-radio" type="radio" name="skybox"
                ng-disabled="!gz3d.scene.isSupportedByMasterSetting('skyBox')"
                    ng-model="envMap.selectedEnvMap" ng-value="{{$index}}" ng-change="updateEnvSettings()">{{skyLabel}}</label>

                </div>

          </div>

        </div>

    </div>


</div>

<hr class="environment-settings-hr" >

<div class="environment-settings-environment-wrapper">

    <div class="environment-settings-option-subblock">

        <div>

            <span> Reflection </br></br> </span>

            <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('dynamicEnvMap')}">
        <input class="environment-settings-radio" type="radio"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('dynamicEnvMap')"
        ng-model="dynamicEnvMap" ng-value="0" ng-change="updateEnvSettings()">Outdoor (sky)</label>

            <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('dynamicEnvMap')}">
        <input class="environment-settings-radio" type="radio"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('dynamicEnvMap')"
        ng-model="dynamicEnvMap" ng-value="1" ng-change="updateEnvSettings()">Indoor (dynamic)</label>


        </div>

    </div>


</div>

<!-- TODO: lens flare is broken  since commit: https://bitbucket.org/hbpneurorobotics/exdfrontend/commits/46612448f59f6267b7ede3c5ed97831e825cb31c
     disabling it until the error is fixed. Error description here: https://hbpneurorobotics.atlassian.net/browse/NRRPLT-7858 
<hr class="environment-settings-hr" >

<div class="environment-settings-environment-wrapper">

    <div class="environment-settings-option-subblock">

        <div>

            <span> Sun </br></br> </span>

            <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('sun')}">
        <input class="environment-settings-radio" type="radio"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('sun')"
        ng-model="selectedSun" ng-value="0" ng-change="updateEnvSettings()">None</label>

            <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('sun')}">
        <input class="environment-settings-radio" type="radio"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('sun')"
        ng-model="selectedSun" ng-value="1" ng-change="updateEnvSettings()">Lens Flare</label>


        </div>

    </div>


</div> -->


<hr class="environment-settings-hr" >

<div class="environment-settings-environment-wrapper">

    <div class="environment-settings-option-subblock">

        <label ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('bloom')}">
        <input class="environment-settings-checkbox" type="checkbox"
        ng-model="bloom"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('bloom')"
        ng-change="updateEnvSettings()">Bloom</label>

        <div class="environment-settings-option-subblock-environment"  ng-show="bloom && gz3d.scene.isSupportedByMasterSetting('bloom')">


            <label>Threshold
                <input  type="range" ng-change="updateEnvSettings()" ng-model="bloomThreshold"
                    step="0.01" min="0" max="1.0" ng-mouseup="$event.stopPropagation(); focus('container');" class="esv-envsettings-bloom-slider"/>
                </label>

            <label>Strength

                <input type="range" ng-change="updateEnvSettings()" ng-model="bloomStrength"
                    step="0.01" min="0" max="1.0" ng-mouseup="$event.stopPropagation(); focus('container');" class="esv-envsettings-bloom-slider" />
                </label>


            <label>Radius

            <input  type="range" ng-change="updateEnvSettings()" ng-model="bloomRadius" step="0.01" min="0" max="3.0"
                ng-mouseup="$event.stopPropagation(); focus('container');" class="esv-envsettings-bloom-slider"/>

            </label>


        </div>


    </div>


</div>

<hr class="environment-settings-hr" >

<div class="environment-settings-environment-wrapper">

    <div class="environment-settings-option-subblock">

        <label  ng-class="{'environment-settings-panel-disabled-label':!gz3d.scene.isSupportedByMasterSetting('fog')}">
        <input class="environment-settings-checkbox" type="checkbox"
        ng-model="fog"
        ng-disabled="!gz3d.scene.isSupportedByMasterSetting('fog')"
        ng-change="updateEnvSettings()">Fog</label>

        <div class="environment-settings-option-subblock-environment" ng-show="fog && gz3d.scene.isSupportedByMasterSetting('fog')">

            <label>Density
                <input  type="range" ng-change="updateEnvSettings()" ng-model="fogDensity"
                        step="0.01" min="0" max="0.3" ng-mouseup="$event.stopPropagation(); focus('container');" class="esv-envsettings-bloom-slider">
                </input>
            </label>

           <label >Color
                <input  type="text" ng-change="updateEnvSettings()" ng-model="fogColor">
                </input>
            </label>

        </div>

    </div>


</div>
