<div class="asset-loading-splash-content text-center">
  <h1 ng-bind="title"></h1>
  <p class="lead">Loading Experiment...</p>
  <small ng-if="isError">Error while loading some assets!</small><br/>
  <small ng-if="!isError && totalAssets > 0">{{loadedAssets}}/{{totalAssets}} assets loaded.</small><br/>
  <small ng-if="!isError && totalAssets === 0">Waiting for asset information.</small><br/>
  <small ng-if="!isError && preparing3DScene">Preparing 3D scene: {{preparing3DSceneMessage}}.</small><br/>

  <span class="fa fa-spinner fa-4x margin-30" ng-class="{'fa-spin': !isError}"></span>
  <div class="row" ng-repeat="element in progressData.assets | filter:{done: false} | orderBy:'totalSize':true | limitTo:10">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
      <uib-progressbar ng-class="element.error ? 'splashbar-error' : 'splashbar'" value="element.progress/element.totalSize" max="1.0" animate="true" type="info">
      <div class="splashbar-textbox">
        <span class="splashbar-text">{{element.id}}</span>
      </div>
      </uib-progressbar>
    </div>
  </div>
  <br/>
  <p ng-show="isError">Some assets have not been found!</p>
  <button class="btn btn-default btn-lg btn-outline" ng-click="close()" ng-show="isError">Close</button>
</div>
