/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.tip-tooltip-place-explorer {
  background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255, 255, 255));
  width: calc(100% - 18px);
  position: absolute;
  height: 55px;
  padding-left: 16px;
  z-index: 100;
}

.explorer-full-size {
  height: 100%;
}

.explorer-reduced-for-tip {
  height: calc(100% - 60px);
}

.experiment-explorer-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: Roboto, Arial, Helvetica;
  color: #404040;
  cursor: default;

  > h1 {
    margin: 20px 0 20px 8px;
    flex-grow: 0;
  }

  #experiment-input {
    display: none;
  }

  .experiment-explorer {
    overflow: hidden;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: stretch;

    .experiment-label,
    .exp-file-name,
    .exp-file-type,
    .exp-file-size,
    .exp-file-date {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .left-panel,
    .right-panel {
      background-color: white;
      border: 1px solid #dfdfdf;
      margin: 8px;
    }

    .left-panel {
      width: 260px;
      display: flex;
      flex-direction: column;

      .title {
        height: 30px;
        line-height: 30px;
        background: linear-gradient(to right, #7fa2ca 0%, #a1c2dc 100%);
        overflow-x: hidden;
        font-size: 14px;
        white-space: nowrap;
        color: #ecf3f9;
        padding-left: 14px;
        flex-shrink: 0;
      }

      .experiment-list {
        flex-grow: 1;
        overflow-y: auto;

        .experiment-title,
        .experiment-folder {
          height: 32px;
          line-height: 31px;
          vertical-align: middle;
          border-left: 3px solid white;
          flex-direction: row;
          display: flex;
          align-items: center;

          .delete-exp-button {
            display: none;
            cursor: pointer;
            position: relative;
            opacity: 0.7;
            margin-right: 10px;
            margin-left: 5px;

            &:hover {
              opacity: 1;
            }
          }

          &.exp-selected {
            background-color: #e7f3ff;
            border-left: 3px #337ab7 solid;
          }

          &.exp-selected .delete-exp-button,
          &:hover .delete-exp-button {
            display: inline-block;
          }

          &:hover {
            background-color: #f5f5f5;
          }

          .fa {
            font-size: 14px;
          }

          .fa-folder-o,
          .fa-folder-open-o {
            width: 17px;
            margin-left: 14px;
            color: #737373;
          }

          .experiment-label {
            margin-left: 4px;
            flex-grow: 1;
          }
        }

        .experiment-folders {
          margin-left: 10px;

          .experiment-folder {
            font-size: 11px;
            height: 26px;
            line-height: 25px;
            border-left: 2px solid white;

            &.folder-selected {
              background-color: #e7f3ff;
              border-left: 2px #337ab7 solid;
            }
          }
        }
      }
    }
    .right-panel {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 6px;

      .experiment-files-header,
      .experiment-file {
        display: flex;
        border-bottom: 1px solid #dfdfdf;
        line-height: 32px;
        height: 32px;
      }

      .experiment-files-header {
        color: #9f9f9f;
        font-size: 11px;
        flex-shrink: 0;

        > * {
          padding-right: 20px;

          .delete-folder-button,
          .create-folder-button {
            position: relative;

            .fa-folder {
              padding-top: 8px;
            }
            .fa-times,
            .fa-plus {
              position: absolute;
              top: 4px;
              font-size: 11px;
              left: 4px;
            }
            .fa-times {
              color: #ff5858;
            }

            .fa-plus {
              color: #eee;
            }
          }
        }
      }
      .experiment-files-list {
        flex-grow: 1;
        font-size: 14px;
        color: #404040;
        overflow-y: auto;
      }
      .exp-file-icon {
        width: 40px;
        padding-left: 14px;
      }

      .exp-file-name {
        width: calc(45% - 40px);
      }

      .exp-file-type {
        width: calc(30% - 80px);
      }

      .exp-file-size {
        width: 10%;
        text-align: right;
      }

      .exp-file-date {
        width: 15%;
        text-align: right;
        padding-right: 27px;
      }

      .exp-file-actions {
        width: 111px;
        flex-grow: 0;
        flex-shrink: 0;
        color: #404040;
        padding-right: 1px !important;
        display: flex;
        flex-direction: row-reverse;

        .action-button {
          // padding-right: 20px;
          cursor: pointer;
          padding: 2px 4px;
          margin-right: 4px;
          opacity: 0.7;
          font-size: 16px;

          &:hover {
            opacity: 1;
          }

          .fa {
          }
        }
      }

      .experiment-file {
        border-left: 2px solid white;

        .exp-file-actions {
          visibility: hidden;
        }

        &.exp-file-selected {
          background-color: #e7f3ff;
          border-left: 2px solid #337ab7;

          .exp-file-actions {
            visibility: visible;
          }
        }

        &:hover {
          background-color: #f5f5f5;

          .exp-file-actions {
            visibility: visible;
          }
        }
        > * {
          padding-right: 10px;
        }
      }
    }
  }

  .experiment-files-loading {
    color: #666;
    margin: 10px 40px;
  }
}
