<!-- build:css(.tmp) styles/esv/reset-checklist-template.css -->
<link rel="stylesheet" href="styles/esv/reset-checklist-template.css"/>
<!-- endbuild -->

<div class="reset-checklist-template">
  <fieldset>
    <ul style="list-style: none">
      <span>
        <b>Simulation</b>
        <li>
          <label>
            <input owner-only type="radio" ng-model="vm.resetRequest.resetType" ng-value="{{vm.RESET_TYPE.RESET_FULL}}"
                   ng-disabled="true" title="Disabled temporarily because of a known issue in Gazebo.">
<!--                   title="Reset also the simulation timeout.">-->
            <span title="Temporarily disabled due to a known issue in Gazebo">Reset Simulation</span>
          </label>
        </li>
        <br/>
      </span>
      <b>Camera</b>
      <li>
        <label>
          <input owner-only type="radio" ng-model="vm.resetRequest.resetType" ng-value="{{vm.RESET_TYPE.RESET_CAMERA_VIEW}}">
          Reset Camera View
        </label>
      </li>

      <br/>

      <span>
        <b>Environment</b>
        <li>
          <label>
            <input owner-only ng-model="vm.resetRequest.resetType" ng-value="{{vm.RESET_TYPE.RESET_WORLD}}" type="radio"
                   ng-disabled="true" title="Disabled temporarily because of a known issue in Gazebo.">
<!--                   title="{{vm.environmentService.isPrivateExperiment?'Reset Environment Poses to the last saved state':'Reset the poses of models to the original state'}}">-->
            <span title="Temporarily disabled due to a known issue in Gazebo">Reset Environment Poses</span>
          </label>
        </li>
        <br/>
      </span>

      <span>
        <b>Robot</b>
        <li>
          <label>
            <input owner-only ng-model="vm.resetRequest.resetType" ng-value="{{vm.RESET_TYPE.RESET_ROBOT_POSE}}" type="radio"
                   title="Reset Robot to the original position and rotation.">
            Reset Robot Frame
          </label>
        </li>
        <br/>
      </span>
    </ul>
  </fieldset>
  <br/>
</div>
