<!-- build:css(.tmp) components/environment-rendering/environment-rendering-options.style.css -->
<link rel="stylesheet" href="components/environment-rendering/environment-rendering-options.style.css"/>
<!-- endbuild -->

<md-button class="md-raised gl-config-button md-button" aria-label="Camera Translation"
           help-tooltip="CAMERA_TRANSLATION"
           ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'CAMERA_TRANSLATION'}">
  <md-tooltip md-direction="left">Camera Translation</md-tooltip>
  <img src="img/esv/translation_icon.png">

  <div class="camera-control-grid">
    <!-- action: none -->
    <div></div>
    <!-- action: move up -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 0, 1)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 0, 1)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 0, 1)"></div>
    <!-- action: move forward -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 0, 2)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 0, 2)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 0, 2)"></div>
    <!-- action: move left -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 1, 0)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 1, 0)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 1, 0)"></div>
    <!-- action: init position -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 1, 1)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 1, 1)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 1, 1)"></div>
    <!-- action: move right -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 1, 2)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 1, 2)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 1, 2)"></div>
    <!-- action: move back -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 2, 0)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 2, 0)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 2, 0)"></div>
    <!-- action: move down -->
    <div ng-mousedown="vm.onButtonCameraTranslate($event, 2, 1)"
         ng-mouseup="vm.onButtonCameraTranslate($event, 2, 1)"
         ng-mouseleave="vm.onButtonCameraTranslate($event, 2, 1)"></div>
    <!-- action: none -->
    <div class="grid-item"></div>
  </div>
</md-button>

<md-button class="md-raised gl-config-button md-button" aria-label="Camera Rotation"
           help-tooltip="CAMERA_ROTATION"
           ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'CAMERA_ROTATION'}">
  <md-tooltip md-direction="left">Camera Rotation</md-tooltip>
  <img src="img/esv/rotation_icon.png">

  <div class="camera-control-grid">
    <!-- action: none -->
    <div></div>
    <!-- action: rotate up -->
    <div ng-mousedown="vm.onButtonCameraRotate($event, 0, 1)"
         ng-mouseup="vm.onButtonCameraRotate($event, 0, 1)"
         ng-mouseleave="vm.onButtonCameraRotate($event, 0, 1)"></div>
    <!-- action: none -->
    <div></div>
    <!-- action: rotate left -->
    <div ng-mousedown="vm.onButtonCameraRotate($event, 1, 0)"
         ng-mouseup="vm.onButtonCameraRotate($event, 1, 0)"
         ng-mouseleave="vm.onButtonCameraRotate($event, 1, 0)"></div>
    <!-- action: init rotation -->
    <div ng-mousedown="vm.onButtonCameraRotate($event, 1, 1)"
         ng-mouseup="vm.onButtonCameraRotate($event, 1, 1)"
         ng-mouseleave="vm.onButtonCameraRotate($event, 1, 1)"></div>
    <!-- action: rotate right -->
    <div ng-mousedown="vm.onButtonCameraRotate($event, 1, 2)"
         ng-mouseup="vm.onButtonCameraRotate($event, 1, 2)"
         ng-mouseleave="vm.onButtonCameraRotate($event, 1, 2)"></div>
    <!-- action: none -->
    <div></div>
    <!-- action: rotate down -->
    <div ng-mousedown="vm.onButtonCameraRotate($event, 2, 1)"
         ng-mouseup="vm.onButtonCameraRotate($event, 2, 1)"
         ng-mouseleave="vm.onButtonCameraRotate($event, 2, 1)"></div>
    <!-- action: none -->
    <div class="grid-item"></div>
  </div>
</md-button>

<md-button
  ng-disabled="vm.simulationInfo.isPlayingBack"
  gl-tool-source="PULL_FORCE"
  class="md-raised gl-config-button md-button"
  aria-label="Apply Force"
  gl-option-button owner-only
  help-tooltip="FORCE_APPLY"
  ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'FORCE_APPLY'}"
>
  <md-tooltip md-direction="top">Apply Force</md-tooltip>
  <img src="img/esv/force_mode_icon.png" />
</md-button>

<div
  ng-disabled="vm.simulationInfo.isPlayingBack"
  class="md-raised gl-config-button md-button"
  aria-label="Global Lighting"
  gl-option-button
  help-tooltip="MANIPULATE_LIGHT"
  ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'MANIPULATE_LIGHT'}"
>
  <md-tooltip md-direction="top">Global Lighting</md-tooltip>
  <i class="fa fa-lightbulb"></i>

  <div class="gl-config-button-submenu" ng-hide="vm.simulationInfo.isPlayingBack" gl-option-hover>
    <md-button
      owner-only
      aria-label="Increase Global Lighting"
      class="md-fab md-raised md-mini submenu-button"
      ng-click="vm.onButtonLightIntensity(1)"
    >
      <i
        class="fa fa-arrow-up"
        ng-class="{'tool-disabled': vm.gz3d.isGlobalLightMaxReached()}"
      ></i>
    </md-button>
    <md-button
      owner-only
      aria-label="Decrease Global Lighting"
      class="md-fab md-raised md-mini submenu-button"
      ng-click="vm.onButtonLightIntensity(-1)"
    >
      <i
        class="fa fa-arrow-down"
        ng-class="{'tool-disabled': vm.gz3d.isGlobalLightMinReached()}"
      ></i>
    </md-button>
  </div>
</div>

<div
  class="md-raised gl-config-button md-button"
  aria-label="Scene Navigation"
  gl-option-button
  help-tooltip="USER_NAVIGATION"
  ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'USER_NAVIGATION'}"
>
  <md-tooltip md-direction="top">Scene Navigation</md-tooltip>

  <i
    class="fa fa-video"
    ng-if="vm.userNavigationService.navigationMode === vm.NAVIGATION_MODES.FREE_CAMERA"
  ></i>
  <img
    src="img/esv/lookatrobot_icon.png"
    ng-if="vm.userNavigationService.navigationMode === vm.NAVIGATION_MODES.LOOKAT"
  />
  <i
    class="fa fa-male"
    ng-if="vm.userNavigationService.navigationMode === vm.NAVIGATION_MODES.HUMAN_BODY"
  ></i>

  <div class="gl-config-button-submenu" gl-option-hover>
    <md-button
      aria-label="Free Camera"
      class="md-fab md-mini md-raised md-mini submenu-button"
      ng-click="vm.userNavigationService.setModeFreeCamera()"
    >
      <md-tooltip md-direction="top"
        >Free Camera (Move: W/A/S/D/R/F, Rotate: hold left mouse button, arrow
        keys)
      </md-tooltip>
      <i class="fa fa-video"></i>
    </md-button>
    <md-button
      aria-label="Robot Camera"
      class="md-fab md-raised md-mini submenu-button"
      ng-click="vm.userNavigationService.lookAtRobot()"
    >
      <md-tooltip md-direction="top">Robot Camera</md-tooltip>
      <img src="img/esv/lookatrobot_icon.png" />
    </md-button>
    <md-button
      aria-label="Avatar"
      class="md-fab md-raised md-mini submenu-button"
      ng-click="vm.userNavigationService.setModeHumanBody()"
    >
      <md-tooltip md-direction="top">Avatar</md-tooltip>
      <i class="fa fa-male"></i>
    </md-button>
  </div>
</div>
