<!-- build:css(.tmp) components/simtools-sidebar/simtools-sidebar.style.css -->
<link rel="stylesheet" href="components/simtools-sidebar/simtools-sidebar.style.css">
<!-- endbuild -->

<div class="simtools-sidebar-wrapper" ng-show="vm.show">
  <md-sidenav id="simtools-sidebar" class="md-sidenav-left" md-component-id="simtools-sidebar" md-disable-backdrop
    md-whiteframe="4" md-is-open="true">

    <!-- all tools directly influencing an experiment -->
    <div id="simtools-sidebar-group-editors" class="simtools-sidebar-category"
      ng-class="{'simtools-sidebar-category-shortened': vm.overflowing,
         'simtools-sidebar-category-expanded': vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS,
         'simtools-sidebar-category-minimized': vm.expandedCategory !== null && vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS}">

      <md-button ng-if="!vm.simulationInfo.isPlayingBack" gl-tool-source="ENVIRONMENT_EDITOR"
        class="md-raised tool-button tool-editor" aria-label="Object Library" help-tooltip="ENVIRONMENT_EDITOR"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'ENVIRONMENT_EDITOR'}">
        <md-tooltip md-direction="right">Object Library</md-tooltip>
        <md-icon md-svg-src="img/esv/tools/environment_editor.svg"></md-icon>
      </md-button>

      <md-button gl-tool-source="TRANSFER_FUNCTION_EDITOR" class="md-raised tool-button tool-editor"
        aria-label="Transfer Function Editor" help-tooltip="TRANSFER_FUNCTION_EDITOR"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'TRANSFER_FUNCTION_EDITOR'}">
        <md-tooltip md-direction="right">Transfer Function Editor</md-tooltip>
        <md-icon md-svg-src="img/esv/tools/transfer_function_editor.svg"></md-icon>
      </md-button>

      <md-button gl-tool-source="BRAIN_EDITOR" class="md-raised tool-button tool-editor" aria-label="Brain Editor"
        help-tooltip="BRAIN_EDITOR"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'BRAIN_EDITOR'}">
        <md-tooltip md-direction="right">Brain Editor</md-tooltip>
        <i class="fa fa-brain"></i>
      </md-button>

      <md-button gl-tool-source="SMACH_EDITOR" class="md-raised tool-button tool-editor"
        aria-label="State Machine Editor" help-tooltip="SMACH_EDITOR"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'SMACH_EDITOR'}">
        <md-tooltip md-direction="right">State Machine Editor</md-tooltip>
        <md-icon md-svg-src="img/esv/tools/state_machine_editor.svg"></md-icon>
      </md-button>

      <md-button ng-if="!vm.simulationInfo.isPlayingBack" gl-tool-source="RESOURCES_EDITOR" owner-only
        class="md-raised tool-button tool-editor" aria-label="Resources Editor" help-tooltip="RESOURCES_EDITOR"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'RESOURCES_EDITOR'}">
        <md-tooltip md-direction="right">Resources Editor</md-tooltip>
        <i class="fa fa-file-import"></i>
      </md-button>

      <md-button ng-if="!vm.simulationInfo.isPlayingBack" gl-tool-source="ROS_TERMINAL"
        class="md-raised tool-button tool-editor" aria-label="ROS Terminal" help-tooltip="ROS_TERMINAL"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'ROS_TERMINAL'}">
        <md-tooltip md-direction="right">ROS Terminal</md-tooltip>
        <span>ROS</span>
      </md-button>
    </div>

    <div class="tool-category-expand tool-editor" aria-label="Expand Editor Tools" ng-show="vm.simToolsSidebarService.isOverflowingY(vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS) ||
         vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS"
      ng-click="vm.onButtonExpandCategory(vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS)">
      <md-tooltip md-direction="right">Expand Editor Tools Section</md-tooltip>
      <i class="fas fa-sort-down" ng-show="vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS"></i>
      <i class="fas fa-sort-up" ng-show="vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_EDITORS"></i>
    </div>

    <!-- all tools monitoring the state of an experiment -->
    <div id="simtools-sidebar-group-monitors" class="simtools-sidebar-category"
      ng-class="{'simtools-sidebar-category-shortened': vm.overflowing && vm.expandedCategory === null,
         'simtools-sidebar-category-expanded': vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS,
         'simtools-sidebar-category-minimized': vm.expandedCategory !== null && vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS}">

      <md-button gl-tool-source="SPIKE_TRAIN" class="md-raised tool-button tool-monitor" aria-label="Spiketrain"
        help-tooltip="SPIKE_TRAIN" ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'SPIKE_TRAIN'}">
        <md-tooltip md-direction="right">Spiketrain</md-tooltip>
        <md-icon md-svg-src="img/esv/tools/spiketrain.svg"></md-icon>
      </md-button>

      <md-button gl-tool-source="JOINT_PLOT"
        class="md-raised tool-button tool-monitor" aria-label="Joint Plot" help-tooltip="JOINT_PLOT"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'JOINT_PLOT',
        'tool-disabled': vm.simulationInfo.isPlayingBack}">
        <md-tooltip md-direction="right">{{vm.jointPlotText}}</md-tooltip>
        <md-icon md-svg-src="img/esv/tools/joint_plot.svg"></md-icon>
      </md-button>

      <md-button ng-if="!vm.simulationInfo.isPlayingBack"
        gl-tool-source="PLOTTING_TOOL" class="md-raised tool-button tool-monitor" aria-label="Plotting Tool"
        help-tooltip="PLOTTING_TOOL"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'PLOTTING_TOOL'}">
        <md-tooltip md-direction="right">Plotting Tool</md-tooltip>
        <img src="img/esv/plotting_tool.png">
      </md-button>


      <md-button ng-if="!vm.simulationInfo.isPlayingBack" gl-tool-source="BRAIN_VISUALIZER"
        class="md-raised tool-button tool-monitor" aria-label="Brain Visualizer" help-tooltip="BRAIN_VISUALIZER"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'BRAIN_VISUALIZER'}">
        <md-tooltip md-direction="right">Brain Visualizer</md-tooltip>
        <img src="img/esv/brainvisualizer.png">
      </md-button>

      <md-button gl-tool-source="LOG_CONSOLE" class="md-raised tool-button tool-monitor" aria-label="Log Console"
        help-tooltip="LOG_CONSOLE" ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'LOG_CONSOLE'}">
        <md-tooltip md-direction="right">Log Console</md-tooltip>
        <i class="fas fa-terminal"></i>
        <div ng-if="vm.clientLoggerService.missedConsoleLogs"
          class="missed-console-badge missed-console-number-{{vm.clientLoggerService.missedConsoleLogs<=9}}"
          ng-class="'missed-console-badge-count-'+(vm.clientLoggerService.missedConsoleLogs%2)">
          <div ng-if="vm.clientLoggerService.missedConsoleLogs<=9">{{vm.clientLoggerService.missedConsoleLogs}}</div>
          <div ng-if="vm.clientLoggerService.missedConsoleLogs>9">...</div>
        </div>
      </md-button>

      <md-button ng-disabled="!vm.videoStreamService.videoStreamsAvailable" gl-tool-source="SERVER_VIDEO_STREAM"
        class="md-raised tool-button tool-monitor" aria-label="Video Streams" help-tooltip="SERVER_VIDEO_STREAM"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'SERVER_VIDEO_STREAM',
                 'tool-disabled': !vm.videoStreamService.videoStreamsAvailable}">
        <md-tooltip md-direction="right">Video Streams</md-tooltip>
        <md-icon ng-bind="'ondemand_video'"></md-icon>
      </md-button>

      <md-button ng-if="!vm.simulationInfo.isPlayingBack" gl-tool-source="PERFORMANCE_VIEW"
        class="md-raised tool-button tool-monitor" aria-label="Performance Monitor" help-tooltip="PERFORMANCE_VIEW"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'PERFORMANCE_VIEW'}">
        <md-tooltip md-direction="right">Performance Monitor</md-tooltip>
        <img src="img/esv/performance-monitor.png">
      </md-button>

      <md-button gl-tool-source="ROBOT_CAMERA_RENDERING" class="md-raised tool-button tool-monitor"
        aria-label="Robot Cameras" help-tooltip="ROBOT_VIEW" ng-click="vm.gz3dViewsService.onToggleRobotViews()"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'ROBOT_VIEW',
                 'tool-disabled': !vm.gz3dViewsService.hasCameraView()}">
        <md-tooltip md-direction="right">Robot Cameras</md-tooltip>
        <i class="fa fa-eye"></i>
      </md-button>
    </div>

    <div class="tool-category-expand tool-monitor" aria-label="Expand Monitor Tools" ng-show="vm.simToolsSidebarService.isOverflowingY(vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS) ||
         vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS"
      ng-click="vm.onButtonExpandCategory(vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS)">
      <md-tooltip md-direction="right">Expand Monitor Tools Section</md-tooltip>
      <i class="fas fa-sort-down" ng-show="vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS"></i>
      <i class="fas fa-sort-up" ng-show="vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_MONITORS"></i>
    </div>

    <!-- all tools affecting only the client side -->
    <div id="simtools-sidebar-group-client-settings" class="simtools-sidebar-category"
      ng-class="{'simtools-sidebar-category-shortened': vm.overflowing,
         'simtools-sidebar-category-expanded': vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS,
         'simtools-sidebar-category-minimized': vm.expandedCategory !== null && vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS}">

      <md-button class="md-raised tool-button tool-client-settings" aria-label="Simulation Info"
        ng-click="vm.helpTooltipService.toggleInfo()" help-tooltip="INFO_BUTTON"
        ng-class="{'tool-help-highlight': vm.helpTooltipService.helpCode === 'INFO_BUTTON'}" dont-stop-propagation>
        <md-tooltip md-direction="right">Simulation Info</md-tooltip>
        <i class="fa fa-info-circle"></i>
      </md-button>

      <md-button class="md-raised tool-button tool-client-settings" aria-label="UI Help"
        ng-click="vm.helpTooltipService.toggleHelp()">
        <md-tooltip md-direction="right">UI Help</md-tooltip>
        <i class="fa fa-question-circle"></i>
      </md-button>


    </div>

    <div class="tool-category-expand tool-client-settings" aria-label="Expand Client Settings Tools" ng-show="vm.simToolsSidebarService.isOverflowingY(vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS) ||
         vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS"
      ng-click="vm.onButtonExpandCategory(vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS)">
      <md-tooltip md-direction="right">Expand Client Settings Tools Section</md-tooltip>
      <i class="fas fa-sort-down" ng-show="vm.expandedCategory !== vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS"></i>
      <i class="fas fa-sort-up" ng-show="vm.expandedCategory === vm.SIMTOOLS_SIDEBAR_ID.GROUP_CLIENT_SETTINGS"></i>
    </div>

  </md-sidenav>
</div>