<!-- build:css(.tmp) scripts/esv/services/sharing-service/entity-sharing.style.css -->
<link rel="stylesheet" href="scripts/esv/services/sharing-service/entity-sharing.style.css">
<!-- endbuild -->
<div ng-click="$close();" class="share-window-hide">
    <i class="fa fa-times"></i>
</div>
<div class="container-with-navbar-margin exit-panel-modal" ng-class="{'notshared': model.entitySharingMode !== 'Shared'} " >

    <label ng-init="getSharedEntityMode();getSharedEntityUsers()" class="label-bold">Visibility </label>
    <div style="min-height: 35px">
      <input type="radio" ng-model="model.entitySharingMode" ng-change="updateSharedEntityMode()" value="Public">Public
      <input type="radio" ng-model="model.entitySharingMode" ng-change="updateSharedEntityMode()" value="Private">Private
      <input type="radio" ng-model="model.entitySharingMode" ng-change="updateSharedEntityMode()" value="Shared"
        ng-disabled="true">Shared
    </div>
    
    <label ng-hide="false" class="label-bold">Note for users </label>
    <div ng-hide="false" style="max-width: 450px">
      Per-user experiment sharing is temporarily disabled.
    </div>
    
    <div>

    <table st-table="sourceUsers" st-safe-src="model.sharingUsers" class="table table-striped">
      <thead>
        <tr>
          <th>Add User</th>
        </tr>
        <tr>
            <td>
              <md-autocomplete md-autoselect=true placeholder="Type the name of the user..." md-item-text="user.displayName" md-items="user in model.filteredUsers" md-menu-class="autocomplete-custom-template"
              md-min-length="1" md-delay="throttle" md-search-text="search.searchUser" md-search-text-change="searchUserChange(search.searchUser)"
              md-select-on-match=true md-match-case-insensitive=true md-selected-item-change="selectedUserChange(search)" md-selected-item="selectedItem"
              ng-disabled="true">
              <md-item-template>
                <span class="item-title">
                  <span md-highlight-flags="^i" md-highlight-text="searchUser">
                    {{user.displayName}} ({{user.username}})
                  </span>
                </span>
              </md-item-template>
              <md-not-found>
                No match found.
              </md-not-found>
            </td>
        <tr>
          <th>Sharing With</th>
        </tr>
        <tr>
          <td>
            <input ng-disabled="true" st-search placeholder="search users" class="search-users-input input-sm form-control" type="search" />
          </td>

        </tr>
        <tr>
          <td>
            <div ng-hide="model.entitySharingMode !== 'Shared'" aria-hidden="model.entitySharingMode !== 'Shared'"> Some text</div>
          </td>

        </tr>
      </thead>
      <tbody>
        <tr  ng-disabled="true" st-select-row="row" ng-repeat="row in sourceUsers">
          <label>{{row}}</label>
          <td >
            <label class= "sharing-users-row">{{row.displayName}} ({{row.username}})</label>
            <div class="btn-group" role="group" aria-label="...">
              <span ng-click="deleteSharedEntityUser(row.id)" class="glyphicon glyphicon-trash delete-sharing-icon">
              </span>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <div st-items-by-page="5" st-pagination=""></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
