<!-- build:css(.tmp) components/plotting-tool/plotting-tool.css -->
<link rel="stylesheet" href="components/plotting-tool/plotting-tool.style.css"/>
<!-- endbuild -->
<!-- build:css(.tmp) styles/esv/experiment-view.css -->
<link rel="stylesheet" href="styles/esv/experiment-view.css"/>
<!-- endbuild -->


<div class="plotting-tool-container">

  <div ng-show="!plotVisible && !structureSetupVisible" class="pt-header">

    <h3>Plotting Tool</h3>

    <hr>

      <div class="pt-section-toolbar">

        <div ng-mousedown="category.colorMode='mousedown'" ng-mouseup="category.colorMode='mouseover'"
            ng-mouseover="category.colorMode='mouseover'"
            ng-mouseleave="category.colorMode='default'" ng-click="toggleVisibleCategory(category)"
            ng-repeat="category in categories"
            ng-class="{'pt-section-button':true,'pt-section-button-first':$first,'pt-section-button-last':$last}"
            style="background-color: {{category.visible?category.color[category.colorMode]: (category.colorMode=='mouseover'? '#ffffff' : '#eeeeee')}};">

          <img class="pt-section-image" ng-src="{{category.thumbnail}}" draggable="false"/>

          <div class="pt-section-caption">{{category.title}}</div>

        </div>


    </div>    
  </div>

  <div ng-show="plotVisible  && !structureSetupVisible" style="overflow: auto;width:100%; height:100%; display: flex; flex-direction: column;"> 
  
    <div class="plotlypane"style="flex-grow:1" >      
    </div>
  
    <div style="margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;">

    <button owner-only type="button" class="btn btn-default btn-md small-icon-button"
    style="width:150px; margin-right: 5px;"
    ng-click="newPlot()"
    title="New plot"
    v-pressable>
    <div> New Plot</div>
    </button>

    </div>

  </div>

  <div ng-show="structureSetupVisible" style="display: contents;">

    <h3>Plotting Tool</h3>

        <div ng-show="plotModel.hasAxis">

        <div class="pt-structure-title" >Axis labels</div>

        <div style="display:flex">
          
          <div ng-repeat="label in axisLabels" style="display:flex; margin-bottom: 5px;">

            <div class="pt-structure-label">{{label}}</div>  <input type="text" ng-model="plotStructure.axis[$index]" ng-required ng-keydown="suppressKeyPress($event)"/>

          </div>

        </div>
      </div>

      <div class="pt-structure-title">Data Sources</div>

      <div ng-class="{'pt-structure-datasource-scroll':plotModel.hasAxis, 'pt-structure-datasource-scroll-small':!plotModel.hasAxis}">
        <div ng-repeat="element in plotStructure.plotElements" class="pt-structure-datasource-block">

          <div class="pt-structure-label">Label</div>  <input type="text" style="height:26px" ng-model="element.label" ng-required ng-keydown="suppressKeyPress($event)"/>

          <div ng-repeat="dimension in element.dimensions" style="display:flex; margin-bottom: 5px;">

              <div class="pt-structure-label">{{axisLabels[$index]}}</div>  
              
              <select
              ng-model="dimension.source" data-value="{{dimension.source}}"
              class="normal" style="height:26px; min-width: 100px;">      

              <option ng-repeat="source in sortedTopics" value="{{source}}">{{source}}</option>

            </select>

            </div>

            <div style="align-items: flex-end;
            flex-grow: 1;
            display: flex;
            flex-direction: column;">
              <button owner-only type="button" class="btn btn-default btn-md small-icon-button" style="margin-left: 10px; height:26px"
              ng-click="removeSourceElement($index)"
              title="Remove plot entry"
              v-pressable>
              <div style="position: absolute;
              top: 1px;
              font-size: 16px;
              left: 10px;">X</div>
              </button>
          </div>

        </div>
      </div>

      <div style="margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;">

      <button owner-only type="button" class="btn btn-default btn-md small-icon-button"
      style="width:150px; margin-right: 5px;"
      ng-click="showPlot()"
      title="Add new plot entry"
      v-pressable>
      <div> Show Plot</div>
      </button>


        <button owner-only type="button" class="btn btn-default btn-md small-icon-button"
        style="width:150px; margin-right: 5px;"
        ng-click="addDefaultStructureElement()"
        title="Add new plot entry"
        v-pressable>
        <div> Add Data Source</div>
        </button>

        <button owner-only type="button" class="btn btn-default btn-md small-icon-button"
        style="width:150px; margin-right: 5px;"
        ng-click="newPlot()"
        title="Choose another plot"
        v-pressable>
        <div> Back </div>
        </button>

      </div>

  </div>


  <div ng-show="!plotVisible  && !structureSetupVisible">

    <div class="pt-object-list-border">
      <div ng-controller="insertControl" class="pt-object-list">
        <li ng-repeat="model in visibleModels" class="pt-objectlist-item">
          <div owner-only id="insert-entity-{{model.modelPath}}"
              ng-mousedown="showStructureSetup(model)"
              data-role="button" class="pt-objectlist-content" style="border: 2px solid {{model.color}};">

            <div class="pt-objectlist-content-img-box">
              <img ng-src="{{model.thumbnail?model.thumbnail:assetsPath+'/'+model.modelPath+'/thumbnail.png'}}"
                  draggable="false" class="pt-img-thumbnail pt-environment-thumbnail"
                  ng-class="stateService.currentState === STATE.INITIALIZED || ownerOnlyDisabled? 'disabled-image' : 'clickable'"
                  alt="{{model.modelPath}}">

            </div>

            <div class="pt-object-caption-box">
              <div class="pt-object-caption" style="background: {{model.color}};">
                {{model.modelTitle}}
              </div>
            </div>

          </div>
        </li>
      </div>
    </div>
  </div>
</div>
