/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

@import '../../../node_modules/angular-material/angular-material.scss';

$app-top-toolbar-height: 50px;

application-top-toolbar {
  flex-shrink: 0;
}

.app-top-toolbar-wrapper {
  .app-top-toolbar {
    flex-shrink: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.22);
    background: linear-gradient(to right bottom, #f1f1f1, #f3f3f3);
    min-height: 5%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bbbbbb;
    min-height: $app-top-toolbar-height;

    .md-toolbar-tools {
      height: $app-top-toolbar-height;
      padding-left: 0px;
    }
  }

  .app-top-toolbar-time-display {
    margin-left: 10px;
  }

  .app-top-toolbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .app-top-toolbar-section-middle {
    text-align: center;

    .app-top-toolbar-title h2 {
      font-family: inherit;
    }
  }

  .app-top-toolbar-section-right {
  }

  .app-top-toolbar-section-username h2 {
    text-align: center;
    font-family: inherit;
  }

  .notification-badge {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #ff3500;
    position: absolute;
    top: 4px;
    right: 5px;
    color: white;
    font-size: 11px;
    line-height: 13px;
    border: 1px solid #eee;
    font-weight: 600;
  }

  .vertical-divider {
    border-top-width: 0;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: grey;
    height: 30px;
    min-height: 75%;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
  }

  .icon-workspace-settings {
    font-size: 24px;
  }

  .record-color {
    color: red;
  }

  .record-paused-colorblink {
    color: red;
    animation: colorblink 2s infinite;
  }
  @keyframes colorblink {
    0% {
      color: #000000;
    }
    50% {
      color: #ff0000;
    }
    100% {
      color: #000000;
    }
  }
}

// unfortunately necessary as md-menu will manipulate hmtl.style.overflowY when opened, causing a scrollbar to appear
html {
  overflow-y: auto !important;
}
